<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright © 2011,2013 Konstantin Livitski

This file is part of n-Puzzle application. n-Puzzle application is free
software; you can redistribute it and/or modify it under the terms of the GNU
General Public License as published by the Free Software Foundation; either
version 3 of the License, or (at your option) any later version.

n-Puzzle application contains adaptations of artwork covered by the Creative
Commons Attribution-ShareAlike 3.0 Unported license. Please refer to the
NOTICE.md file at the root of this distribution or repository for licensing
terms that apply to that artwork.

n-Puzzle application is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
n-Puzzle application; if not, see the LICENSE/gpl.txt file of this distribution
or visit <http://www.gnu.org/licenses>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="name.livitski.games.puzzle.android"
      android:versionCode="1"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="8" />
	<supports-screens
        android:anyDensity="true" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="Application">
        <activity android:name=".GamePlay"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageSelection" 
        	android:label="@string/image_selection"
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".YouWin" 
        	android:label="@string/text_congratulations"
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="LicensePages" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
    </application>
</manifest>